.container_head {
  align-items: center;
}
body {
  background-color: rgba(121, 118, 111, 0.5);
}
.container {
  display: grid;
  text-align: center; /* Контент размещаем в центре по горизонтали */
  grid-template: repeat(11, 1fr) / repeat(6, 1fr);
  grid-auto-flow: row;
  background-color: rgba(102, 94, 73, 0.5);
  margin: 0 auto;
  column-gap: 1%;
  row-gap: 1%;
  border-radius: 5px; /* Скругляем углы на 5 пикселей */
  width: 30%;
  padding: 35px;
  font-size: 20px;
}

.container div {
  border-radius: 15px;
  display: flex;
  align-items: center; /* Центрирует текст по вертикали */
  justify-content: center; /* Центрирует текст по горизонтали */
}

.container_head_order_num {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.993);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.container_head_closet_size {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.993);
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 20px;
}
.closet-size-select {
  padding: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  /* Другие стили по вашему выбору, например, фон, цвет текста и др. */
}

.container_head_comment {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.993);
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}
.comment-input {
  width: 100%; /* Занимает 100% ширины родительского элемента (container_head_comment) */
  padding: 10px; /* Внутренний отступ для улучшения визуального восприятия */
  font-size: 20px; /* Размер шрифта */
  border: none; /* Убирает рамку вокруг поля ввода */
  outline: none; /* Убирает контур фокуса при клике на поле ввода */
  text-align: center;
}

.container_body_image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;
}
.container_body_image img {
  width: 100%;
  height: auto;
}
.container_colors {
  flex-direction: column;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 6;

  width: 100%;
  height: 100%;
}
.container_colors div {
  width: 100%; /* Элементы занимают всю ширину ячейки */
  height: 100%; /* Элементы занимают всю высоту ячейки */
  display: flex;
  align-items: center; /* Центрирует текст по вертикали */
  justify-content: center; /* Центрирует текст по горизонтали */
  cursor: pointer;
  /* Другие стили для элементов, если необходимо */
}
.container_colors div:not(:first-child) {
  margin-top: -20px;
}

.color-item.selected {
  border: 5px solid rgb(91, 17, 126);
}

.container_colors_110SM {
  background-color: rgba(255, 255, 255, 0.993);
  border: 1px solid;
  border-radius: 5px;
  height: 100%;
}
.container_colors_U112 {
  background-color: rgba(77, 69, 56, 0.993);
  border: 1px solid;
  border-radius: 5px;
}

.container_colors_3025MX {
  background-color: rgba(167, 129, 49, 0.993);
  border: 1px solid;
  border-radius: 5px;
}

.container_colors_U164 {
  background-color: rgba(8, 8, 8, 0.993);
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.container_bottom_images {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
}

.container_bottom_images img {
  width: 33%;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.container_bottom_images img.selected {
  outline: 5px solid rgb(91, 17, 126);
  outline-offset: -5px; /* Изменить фон на светло-голубой для выбранного изображения */
}
/* Добавляем оформление элементам grid-контейнера: */

.add-button {
  background-color: rgb(65, 177, 65);
  border-radius: 50px; /* Круглые углы */
  text-align: center;
  cursor: pointer;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
  font-size: 20px;
}

.send-button {
  background-color: rgb(65, 177, 65);
  border-radius: 50px; /* Круглые углы */
  text-align: center;
  cursor: pointer;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 10;
  font-size: 20px;
}

.order_list {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9; /* Убираем фиксированный номер строки */
  grid-row-end: 15; /* Убираем фиксированный номер строки */
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.notification_add {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px;
}
.notification_send {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px;
}
.notification_error {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(204, 54, 28);
  color: white;
  text-align: center;
  padding: 10px;
}
