node_modules/*
node_modules
static
static/*
src/config/*
ngrok.exe
.env.development
.env.production
client_react/node_modules
client_react/node_modules/*
client_react/.env.development
client_react/.env.production
client_react/public
client_react/build